* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #020617;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero h3 {
    margin: 15px 0;
    color: #38bdf8;
}

.hero p {
    max-width: 600px;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 25px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.content {
    padding: 60px;
}

.content h1 {
    margin-bottom: 20px;
    color: #38bdf8;
}

.skills li {
    margin: 8px 0;
}

blockquote {
    margin-top: 30px;
    font-style: italic;
    color: #94a3b8;
}

.card {
    background: #020617;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}